<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CORENUTS OFFICE</title>
</head>
<body>
<h1 style="color:grey; margin-left:340px">WELCOME TO CORENUTS OFFICE</h1>

<div style="display:flex">
    <div style="width:700px; height:450px; background-color:aliceblue;">
        <h2>EMPLOYEE LOGIN</h2>
        <label>Date :  </label>
        <input  type="date"  >
        <br>
        <br>
        <label>EMPLOYEE ID :  </label>
        <input  type="number" >
        <br><br>
        <button>Login </button>

    </div>
    <div style="margin-left:30px; width:450px; height:450px; background-color:cadetblue;padding-left:50px;">
      <h2>Add New Employee</h2>
        <table><tr>
        <td><label>EMPLOYEE NAME :  </label></td>
        <td><input  type="text" ></td>
        </tr>
         <tr>
         <td><label>EMPLOYEE DESIGNATION :  </label></td>
        <td><input  type="text" ></td>
       </tr>
            <tr>
        <td> <label>EMPLOYEE EMAIL :  </label></td>
        <td><input  type="email" ></td>
        </tr>
         <tr>
         <td> <label>PASSWORD :  </label></td>
        <td><input  type="password" ></td>
       </tr>
        </table>
        <br><br>
        <button style="margin-left:150px;">Add Employee </button>
    </div>
</div>


</body>
</html>